<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="inventory">

    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>cdi-4.0</feature>
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>messaging-3.1</feature>
        <feature>messagingClient-3.0</feature>
        <feature>messagingServer-3.0</feature>
        <feature>enterpriseBeansLite-4.0</feature>
        <feature>mdb-4.0</feature>
        <feature>mpOpenAPI-3.1</feature>
        <feature>mpRestClient-3.0</feature>
        <feature>websocket-2.1</feature>
    </featureManager>

    <variable name="command.jms.address" defaultValue="localhost:7276"/>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443"/>

    <webApplication contextRoot="/" location="guide-jms-cqrs-inventory.war"/>

    <!-- send message to Command queue -->
    <connectionManager id="CommandCM" maxPoolSize="400" minPoolSize="1"/>

    <jmsQueueConnectionFactory
        connectionManagerRef="CommandCM"
        jndiName="CommandQueueConnectionFactory">
        <properties.wasJms
            remoteServerAddress="${command.jms.address}:BootstrapBasicMessaging" />
    </jmsQueueConnectionFactory>

    <jmsQueue id="CommandQueue" jndiName="jms/CommandQueue">
        <properties.wasJms queueName="CommandQueue"/>
    </jmsQueue>
    
    <!-- listen message from Refresh queue -->
    <wasJmsEndpoint id="InboundJmsCommsEndpoint"
                    host="*"
                    wasJmsPort="7277"
                    wasJmsSSLPort="9101"/>

    <connectionManager id="RefreshCM" maxPoolSize="400" minPoolSize="1"/>

    <messagingEngine id="RefreshME">
        <queue id="RefreshQueue"
               forceReliability="ReliablePersistent"
               maxQueueDepth="5000"/>
    </messagingEngine>

    <jmsQueueConnectionFactory connectionManagerRef="RefreshCM"
                               jndiName="RefreshQueueConnectionFactory">
        <properties.wasJms/>
    </jmsQueueConnectionFactory>

    <jmsQueue id="RefreshQueue" jndiName="jms/RefreshQueue">
        <properties.wasJms queueName="RefreshQueue"/>
    </jmsQueue>

    <jmsActivationSpec id="guide-jms-cqrs-inventory/RefreshQueueListener">
        <properties.wasJms
            destinationRef="RefreshQueue"
            destinationType="jakarta.jms.Queue"
            maxConcurrency="200"/>
    </jmsActivationSpec>
      
    <logging consoleLogLevel="INFO"/>

</server>
