<server description="System Service">

  <featureManager>
    <feature>cdi-4.0</feature>
    <feature>jsonb-3.0</feature>
    <feature>mpHealth-4.0</feature>
    <feature>mpConfig-3.1</feature>
    <feature>messaging-3.1</feature>
    <feature>messagingClient-3.0</feature>
    <feature>enterpriseBeansLite-4.0</feature>
    <feature>mdb-4.0</feature>
  </featureManager>

  <variable name="http.port" defaultValue="9083"/>
  <variable name="https.port" defaultValue="9446"/>
  <!-- tag::jms[] -->
  <variable name="inventory.jms.host" defaultValue="localhost"/>
  <variable name="inventory.jms.port" defaultValue="7277"/>
  <!-- end::jms[] -->
  
  <httpEndpoint id="defaultHttpEndpoint" host="*"
                httpPort="${http.port}" httpsPort="${https.port}" />

  <!-- send message to Inventory queue -->
  <!-- tag::connectionManager[] -->
  <connectionManager id="InventoryCM" maxPoolSize="400" minPoolSize="1"/>
  <!-- end::connectionManager[] -->
  <!-- tag::jmsQueueConnectionFactory[] -->
  <jmsQueueConnectionFactory
    connectionManagerRef="InventoryCM"
    jndiName="InventoryQueueConnectionFactory">
  <!-- tag::properties.wmqjmsra[] -->
    <properties.wmqjmsra
      hostName="${ibmmq-hostname}"
      port="${ibmmq-port}"
      channel="${ibmmq-channel}"
      queueManager="${ibmmq-queue-manager}"
      userName="${ibmmq-username}"
      password="${ibmmq-password}"
      transportType="CLIENT" />
  <!-- end::properties.wmqjmsra[] -->
  </jmsQueueConnectionFactory>
  <!-- end::jmsQueueConnectionFactory[] -->
  <!-- tag::jmsQueue[] -->
  <jmsQueue id="InventoryQueue" jndiName="jms/InventoryQueue">
    <!-- tag::baseQueueName[] -->
    <properties.wmqjmsra baseQueueName="${ibmmq-inventory-queue-name}"/>
    <!-- end::baseQueueName[] -->
  </jmsQueue>
<!-- end::jmsQueue[] -->

  <!-- tag::resourceAdapter[] -->
  <resourceAdapter id="wmqjmsra"
    location="https://repo.maven.apache.org/maven2/com/ibm/mq/wmq.jakarta.jmsra/9.3.5.0/wmq.jakarta.jmsra-9.3.5.0.rar"/>
  <!-- end::resourceAdapter[] -->

  <logging consoleLogLevel="INFO"/>
  <webApplication location="guide-jms-intro-system.war" contextRoot="/"/>

</server>
