<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="query">

    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>cdi-4.0</feature>
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>persistence-3.1</feature>
        <feature>messaging-3.1</feature>
        <feature>messagingClient-3.0</feature>
        <feature>enterpriseBeansLite-4.0</feature>
        <feature>mdb-4.0</feature>
    </featureManager>

    <variable name="postgres.hostname" defaultValue="localhost"/>
    <variable name="postgres.portnum"  defaultValue="5432"/>
    <variable name="cache.jms.address" defaultValue="localhost:7278"/>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9082" httpsPort="9445"/>

    <application location="guide-jms-cqrs-query.war"/>

    <library id="postgresql-library">
        <fileset dir="${shared.resource.dir}/" includes="*.jar"/>
    </library>

    <dataSource id="DefaultDataSource" jndiName="jdbc/postgresql">
        <jdbcDriver libraryRef="postgresql-library" />
        <properties.postgresql databaseName="admin"
                               serverName="${postgres.hostname}"
                               portNumber="${postgres.portnum}"
                               user="admin"
                               password="adminpwd"/>
    </dataSource>

    <resourceAdapter id="wmqjmsra" location="https://repo.maven.apache.org/maven2/com/ibm/mq/wmq.jakarta.jmsra/9.3.5.0/wmq.jakarta.jmsra-9.3.5.0.rar" />
    <authData id="mqauthid" user="app" password="passw0rd"/>

    <!-- Query queue -->
    <connectionManager id="QueryCM" maxPoolSize="400" minPoolSize="1"/>

    <jmsQueueConnectionFactory
        connectionManagerRef="QueryCM"
        jndiName="QueryQueueConnectionFactory">
        <properties.wmqjmsra
            hostName="${ibmmq-hostname}" 
            port="${ibmmq-port}"
            channel="${ibmmq-channel}"
            queueManager="${ibmmq-queue-manager}"
            userName="${ibmmq-username}"
            password="${ibmmq-password}"
            transportType="CLIENT" />
    </jmsQueueConnectionFactory>

    <jmsQueue id="QueryQueue" jndiName="jms/QueryQueue">
        <properties.wmqjmsra baseQueueName="${ibmmq-query-queue-name}"/>
    </jmsQueue>

    <jmsActivationSpec id="guide-jms-cqrs-query/QueryListener">
        <properties.wmqjmsra
            hostName="${ibmmq-hostname}" 
            port="${ibmmq-port}"
            channel="${ibmmq-channel}"
            queueManager="${ibmmq-queue-manager}"
            userName="${ibmmq-username}"
            password="${ibmmq-password}"
            transportType="CLIENT"
            destinationRef="QueryQueue"
            destinationType="jakarta.jms.Queue"
            />
    </jmsActivationSpec>

    <!-- Cache queue -->
    <connectionManager id="CacheCM" maxPoolSize="400" minPoolSize="1"/>

    <jmsQueueConnectionFactory
        connectionManagerRef="CacheCM"
        jndiName="CacheQueueConnectionFactory">
        <properties.wmqjmsra
            hostName="${ibmmq-hostname}" 
            port="${ibmmq-port}"
            channel="${ibmmq-channel}"
            queueManager="${ibmmq-queue-manager}"
            userName="${ibmmq-username}"
            password="${ibmmq-password}"
            transportType="CLIENT" />
    </jmsQueueConnectionFactory>

    <jmsQueue id="CacheQueue" jndiName="jms/CacheQueue">
        <properties.wmqjmsra baseQueueName="${ibmmq-cache-queue-name}"/>
    </jmsQueue>

    <logging consoleLogLevel="INFO"/>
</server>
