<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="query">

    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>cdi-4.0</feature>
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>persistence-3.1</feature>
    </featureManager>

    <variable name="postgres.hostname" defaultValue="localhost"/>
    <variable name="postgres.portnum"  defaultValue="5432"/>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9082" httpsPort="9445"/>

    <webApplication location="guide-jms-cqrs-query.war" contextRoot="/"/>

    <library id="postgresql-library">
        <fileset dir="${shared.resource.dir}/" includes="*.jar"/>
    </library>

    <dataSource id="DefaultDataSource" jndiName="jdbc/postgresql">
        <jdbcDriver libraryRef="postgresql-library" />
        <properties.postgresql databaseName="admin"
                               serverName="${postgres.hostname}"
                               portNumber="${postgres.portnum}"
                               user="admin"
                               password="adminpwd"/>
    </dataSource>

    <logging consoleLogLevel="INFO"/>
</server>
