<server description="System Service">

  <featureManager>
    <feature>cdi-4.0</feature>
    <feature>jsonb-3.0</feature>
    <feature>mpHealth-4.0</feature>
    <feature>mpConfig-3.1</feature>
    <feature>messaging-3.1</feature>
    <feature>messagingClient-3.0</feature>
    <feature>enterpriseBeansLite-4.0</feature>
    <feature>mdb-4.0</feature>
  </featureManager>

  <variable name="http.port" defaultValue="9083"/>
  <variable name="https.port" defaultValue="9446"/>
  <variable name="inventory.jms.host" defaultValue="localhost"/>
  <variable name="inventory.jms.port" defaultValue="7277"/>
  
  <httpEndpoint host="*" httpPort="${http.port}"
      httpsPort="${https.port}" id="defaultHttpEndpoint"/>

    <!-- send message to Inventory queue -->
    <connectionManager id="InventoryCM" maxPoolSize="400" minPoolSize="1"/>

    <jmsQueueConnectionFactory
        connectionManagerRef="InventoryCM"
        jndiName="InventoryQueueConnectionFactory">
        <properties.wasJms
            remoteServerAddress="${inventory.jms.host}:${inventory.jms.port}:BootstrapBasicMessaging" />
    </jmsQueueConnectionFactory>

    <jmsQueue id="InventoryQueue" jndiName="jms/InventoryQueue">
        <properties.wasJms queueName="InventoryQueue"/>
    </jmsQueue>

  <logging consoleLogLevel="INFO"/>
  <webApplication location="guide-jms-intro-system.war" contextRoot="/"/>
</server>
